body
{
    margin: 0px;
}

.container
{
    height: 700px;
    display: flex;
    flex-direction: column;
}



/***************************** header ocupa 100% da largura do container. Divide a "linha_verde" e o "cabeçalho" com flex-direction: column ****************************/
header
{
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.linha_verde
{
    background-color: rgb(45, 111, 81);
    min-height: 10px;
}






/******************************* O cabeçalho é divido em tres partes com o flex-direction: row.  Seus filhos são "logo", "header_direita" e "menu".  ****************************/
.cabeçalho
{
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logo
{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 60px;
}






/************************************* seção onde abriga o input com nome de de pesquisa do site (classe barra), botão e o icone de menu *******************************/
.header_direita
{
    flex: 4;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: 200px;
}


/*********** seção do form ***********/
.header_direita form
{
    height: 30px;
    max-width: 200px;
    background-color: white;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 3px 8px;
}


/*********** espaço para digitação onde há o search ***********/
.header_direita form .barra
{
    height: 30px;
    max-width: 160px;
    border: none;
    font-size: 15px;
}


/*********** botão com imagem da lupa ***********/
form .lupa
{
    border: none;
    background-color: white;
    align-self: center;
    justify-self: end;
    cursor: pointer;
}


/************* icone de menu *************/
.menu
{
    margin-left: 30px;
    margin-right: 10px;
    cursor: pointer;
}

















main
{
    height: 500px;
    border: 2px solid black;
}