body
{
    margin: 0px;
}

.container
{
    height: 700px;
    display: flex;
    flex-direction: column;
}



/***************************** header ocupa 100% da largura do container. Divide a "linha_verde" e o "cabeçalho" com flex-direction: column ****************************/
header
{
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.linha_verde
{
    background-color: rgb(45, 111, 81);
    width: 100%;
    min-height: 10px;
    display: flex;
}






/******************************* O cabeçalho é divido em tres partes com o flex-direction: row.  Seus filhos são "logo", "header_direita" e "menu".  *******************/
.cabeçalho
{
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logo
{
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}






/************************************* seção onde abriga o input com nome de de pesquisa do site (classe barra), botão e o icone de menu *******************************/
.header_direita
{
    flex: 10;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}


/*********** seção do form ***********/
.header_direita form
{
    height: 35px;
    max-width: 210px;
    background-color: white;
    border: 1px solid gray;
    display: flex;
    align-items: center;
}


/*********** espaço para digitação onde há o search ***********/
.header_direita form .barra
{
    height: 30px;
    max-width: 170px;
    border: none;
    padding: 10px 13px;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*********** botão com imagem da lupa ***********/
form .lupa
{
    border: none;
    background-color: white;
    align-self: center;
    justify-self: end;
    cursor: pointer;
    padding-right: 10px;
}


/************* icone de menu *************/
.menu
{
    margin-left: 40px;
    cursor: pointer;
}





/***************************************************** Responsividade 1 Celular ******************************************************/
@media (max-width: 340px)
{
    .header_direita
    {
        display: flex;
        flex-direction: row;
    }

    .header_direita form
    {
        max-width: 180px;
    }

    .header_direita form .barra
    {
        max-width: 100px;
    }
}





/***************************************************** Responsividade 2 Celular ******************************************************/
@media (max-width: 425px) and (min-width: 341px)
{
    .header_direita
    {
        display: flex;
        flex-direction: row;
    }

    .header_direita form
    {
        max-width: 180px;
        margin-left: 20px;
    }

    .header_direita form .barra
    {
        min-width: 140px;
    }
}